@charset "UTF-8";

.new {
	display: inline-block;
	* display: inline ;
	* zoom: 1; 
	background-color: #f10 ;
	color: #FFF ;
	-webkit-animation: blink 1.5s ease-in-out infinite alternate;
	-moz-animation: blink 1.5s ease-in-out infinite alternate;
	-ms-animation: blink 1.5s ease-in-out infinite alternate;
	-o-animation: blink 1.5s ease-in-out infinite alternate;
	animation: blink 1.5s ease-in-out infinite alternate;
	
}
@-webkit-keyframes blink {
	0% {opacity: 0.2;}
	100% {opacity: 1;}
}
@-moz-keyframes blink {
	0% {opacity: 0.2;}
	100% {opacity: 1;}
}
@-ms-keyframes blink {
	0% {opacity: 0.2;}
	100% {opacity: 1;}
}
@-o-keyframes blink {
	0% {opacity: 0.2;}
	100% {opacity: 1;}
}
@keyframes blink {
	0% {opacity: 0.2;}
	100% {opacity: 1;}
}